* {
    padding: 0% ;
    margin: 0% ;
    font-family: 'Montserrat', sans-serif;
}
.header {
    width: 100% ;
    height: 200px ;
    background-color: #808080;
}
.myhead {
    position: relative;
    top: -40px ;
}   
.panel {
    position: absolute;
    left: 77% ;
    top: 20px ;
    color: white ;
}
.logout {
    position: absolute ;
    top: 120px ;
    left: 40% ;
}